@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #fbf5fc; */
}

@layer components {
  .badge {
    @apply px-2 py-1 text-slate-100 rounded-lg flex items-center justify-center space-x-2 text-xs bg-fuchsia-500;
  }
  .btn-hero {
    @apply h-8 bg-white bg-opacity-90 backdrop-blur-lg text-slate-700 hover:bg-blue-500 hover:text-white px-5 py-5 rounded-xl flex justify-center items-center shadow-md;
  }
  .btn-primary {
    @apply bg-fuchsia-500 py-2 text-center text-white rounded-lg font-semibold text-base hover:bg-fuchsia-600 active:bg-fuchsia-700 active:text-black;
  }
  .btn-sm {
    @apply btn-primary h-8 py-1;
  }
  .btn-mini {
    @apply py-1 px-4 rounded-lg bg-gray-200 text-slate-600 text-center font-extralight hover:bg-fuchsia-200 active:bg-fuchsia-400 active:text-white;
  }
  .card {
    @apply grid grid-cols-1 grid-rows-[repeat(2_minmax(1fr_auto))] bg-white bg-opacity-60 backdrop-blur-2xl rounded-lg shadow-xl hover:shadow-2xl items-start gap-6;
  }
  .card-body {
    @apply text-slate-800 px-4 pb-2;
  }
  .card-img {
    @apply col-span-1 flex flex-col justify-center h-44 rounded-md;
  }
  .card-title {
    @apply text-xl font-semibold;
  }
  .card-text {
    @apply text-xs font-medium leading-3 my-2;
  }
  .cell {
    @apply bg-white px-1 py-1 flex justify-center items-center;
  }
  .error-card {
    @apply text-danger px-4 py-4 w-96  bg-red-100/90 backdrop-blur-xl shadow-lg rounded-md;
  }
  .form-card {
    @apply mx-auto w-11/12 max-w-md drop-shadow-lg shadow-fuchsia-300/25 bg-white rounded-lg px-6 py-6;
  }
  .form-card-wide {
    @apply lg:w-11/12 lg:max-w-7xl lg:mx-auto sm:mx-4 drop-shadow-lg shadow-fuchsia-300/25 bg-white rounded-lg px-4 sm:px-8 py-6 my-2;
  }
  .form-card-title {
    @apply text-4xl font-semibold mb-6 text-fuchsia-700 text-center;
  }
  .form-normal {
    @apply flex flex-col py-4 text-base font-normal space-y-4 text-slate-700 accent-fuchsia-500;
  }
  .form-group-inline {
    @apply grid grid-cols-[4fr_1fr] gap-4 items-center;
  }
  .file-upload-input {
    @apply file:bg-fuchsia-400 file:text-white file:font-medium file:border-0 file:px-3 file:py-1 file:rounded-lg file:mr-3 hover:file:bg-fuchsia-500 file:hover:cursor-pointer text-slate-500 mt-6 w-full;
  }
  .input-normal {
    @apply px-4 py-2 rounded-lg my-2 border-stone-200 bg-fuchsia-50 hover:bg-stone-100/50 hover:border-fuchsia-200 focus:ring-1 focus:ring-fuchsia-500 focus:border-fuchsia-500;
  }
  .input-sm {
    @apply input-normal h-8;
  }
  .min-card-blocks {
    @apply bg-white px-2 pb-2 pt-1 rounded-md text-center capitalize text-slate-600 shadow-md;
  }
  .navlinkClassActive {
    @apply text-blue-800 rounded-xl font-medium;
  }
  .navlinkSidebarActive {
    @apply bg-purple-500 rounded-md text-stone-300 px-4 py-1;
  }
  .navlinkSidebarDeafult {
    @apply px-4 py-1;
  }
  .navlinkClassDefault {
    @apply hover:text-fuchsia-800;
  }
  .text-danger {
    @apply text-center mx-2 my-2 text-red-600 font-medium;
  }
  .text-success {
    @apply text-center mx-2 my-2 text-green-500 font-medium;
  }
  .text-heading {
    @apply text-5xl font-bold;
  }
  .text-sub-heading {
    @apply text-lg font-semibold;
  }
  .text-primary {
    @apply text-sm font-medium;
  }
  .text-primary-bold {
    @apply text-sm font-semibold capitalize;
  }
  .text-mini {
    @apply text-sm font-extralight;
  }
  .text-warn {
    @apply text-yellow-500 text-center mx-2 my-2 font-medium;
  }
}

.form-body {
  display: grid;
  grid-template-columns: minmax(0, 2fr) repeat(2, minmax(0, 3fr));
  grid-template-columns: minmax(0, 2fr) repeat(2, minmax(0, 3fr));
}

/* .hero {
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
} */

.bg-primary {
  background-color: #fbf5fc;
}

/* .contacts {
  clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
} */

.message-box {
  backdrop-filter: blur(24px);
}

/* .hero {
  background-image: url('./assets/biryani_hydrabadi_slider.jpg');
  background-size: cover;
  background-position: center;
} */
